<div class="articles-list-wrap">
  <main class="articles-list">
    {{#foreach posts}}
    <article class="article-preview">
      <span class="article-preview-date">{{date published_at format="MMMM DD, YYYY"}}</span>
      <a href="{{url}}" title="{{title}}">
        <h1 class="article-preview-title">{{title}}</h1>
        <p class="article-preview-text">{{excerpt}}</p>
      </a>
    </article>
    {{/foreach}}
  {{> pagination}}
  </main>
</div>
