<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8"/>
    <meta name="description" content="{{meta_description}}" />
    <meta name="version" content="1.0.1" />
    <link href='/assets/public/stylesheets/main.min.css' rel='stylesheet' type='text/css' media='all'>
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div id="wrapper">
      {{{body}}}
    </div>
    {{ghost_foot}}
    <script type="text/javascript" src="/assets/public/scripts/vendor.min.js"></script>
    <script type="text/javascript" src="/assets/public/scripts/main.min.js"></script>
  </body>
</html>
